<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compeleted</title>
    <style>
        .para{
            font-size:40px;
            color: white;
            position: absolute;
            left: 6.9em;
            margin-top: 7.6em;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .para:hover{
            color:dimgray;
        }
        body{
            background-color:black;
        }
    </style>
</head>
<body>
   <center> <p class="para">Video Processing is Compeleted Successfully.</p></center>
</body>
</html>
